$primary: #05326A;
$secondary: #2A5180;
$dropdown-border-radius: 0;
$dropdown-min-width: 17.5rem;


html {
  height: 100%;
}

body {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-top-nav {
  font-size: 0.6rem;
}

.language-img {
  cursor: pointer;
}

.dropdown-menu {
  transform: translateY(-1%);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.content {
  flex: 1 0 auto;
}

.info {
  color: white;
  font-weight: 300;
}

.form-input {
  width: 24rem;
  float: right;
}

.space {
  height: 3.2rem;
}

.footer-nav {
  font-size: 0.7rem;
  border-right: 1px solid black;
  padding-right: 1rem;
}


.bg-footer {
  background-image: url("../img/bg-footer.png");
}
.bg-form-footer {
  background-image: url("../img/bg-form-footer.png");
  background-size: cover;
}

@import "../bootstrap/scss/bootstrap";